// This is the project stylesheet

// Colors
$dark-slate-gray-2: rgba(70, 74, 103, 1);
$medium-slate-blue: rgba(110, 107, 255, 1);
$midnight-blue: rgba(25, 30, 69, 1);
$olive-drab: rgba(99, 155, 27, 1);
$royal-blue: rgba(61, 58, 227, 1);

// Typographies
@mixin mulish-14-bold {
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}
@mixin mulish-14-bold-2 {
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
@mixin mulish-22-bold {
  font-family: "Mulish";
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
}

// This is the project stylesheet

// Colors
$dark-slate-gray: rgba(56, 56, 95, 1);
$dark-slate-gray-2: rgba(42, 42, 71, 1);
$light-steel-blue: rgba(189, 189, 211, 1);
$midnight-blue: rgba(31, 31, 60, 1);
$slate-gray: rgba(105, 105, 152, 1);

// Typographies
@mixin merriweather-22-bold {
  font-family: "Merriweather";
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
}
@mixin mulish-16-bold {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
@mixin mulish-18-semi-bold {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

// This is the project stylesheet

// Colors
$black: rgba(28, 23, 46, 1);
$dark-slate-blue: rgba(73, 41, 187, 1);
$silver: rgba(188, 184, 204, 1);
$transparent-black: rgba(22, 18, 39, 0.44);
$white: rgba(255, 255, 255, 1);

// Typographies
@mixin merriweather-22-bold {
  font-family: "Merriweather";
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}
@mixin mulish-16-regular {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
@mixin mulish-18-regular {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}


// This is the project stylesheet

// Colors
$black: rgba(0, 0, 0, 1);
$lavender: rgba(237, 187, 255, 1);
$midnight-blue: rgba(20, 24, 67, 1);
$pale-turquoise: rgba(174, 241, 245, 1);
$peach-puff: rgba(255, 221, 182, 1);
$transparent-white: rgba(255, 255, 255, 0.7);
$white: rgba(255, 255, 255, 1);

// Typographies
@mixin merriweather-26-bold {
  font-family: "Merriweather";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}

// This is the project stylesheet

// Typographies
@mixin ibm-plex-sans-16-medium {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
@mixin ibm-plex-sans-20-medium {
  font-family: "IBM Plex Sans";
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
@mixin ibm-plex-sans-36-bold {
  font-family: "IBM Plex Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
@mixin ibm-plex-sans-62-bold {
  font-family: "IBM Plex Sans";
  font-size: 62px;
  font-weight: 700;
  line-height: normal;
}
@mixin merriweather-26-bold {
  font-family: "Merriweather";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}

// This is the project stylesheet

// Colors
$royal-blue: rgba(67, 120, 255, 1);
$sandy-brown: rgba(248, 189, 102, 1);
$transparent-black: rgba(7, 10, 44, 0.25);
$white: rgba(255, 255, 255, 1);

// Typographies
@mixin ibm-plex-sans-16-medium {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
@mixin ibm-plex-sans-16-semi-bold {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
@mixin ibm-plex-sans-18-bold {
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
@mixin ibm-plex-sans-18-medium {
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}